.App {
  text-align: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-h1 {
  margin: 2rem;
  border-bottom: 5px solid blue;
}

.manga-list {
  list-style: none;
}

.manga-list-item {
  background-color: #d4d4d4;
  display: flex;
  justify-content: space-between;
}

.manga-link {
  margin-left: 1rem;
}